{% extends "filters_template.html" %}

{% block head %}
    {{ super() }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
{{ super() }}

<hr class="text-danger border-2 opacity-50">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<canvas id="chart" width="600" height="400"></canvas>
<div class="sub_cat_chart">
<canvas hidden id="sub_cat_chart" width="600" height="400"></canvas>
</div>

<script>
  var activeCategory

  // sub_category chart placeholder
    var sub_cat_chart = new Chart(document.getElementById("sub_cat_chart"), {
        type: 'pie',
        data: {
        labels: [],
        datasets: [{
            label: "Series 01",
            backgroundColor: [],
            data: []
        }]
        },
        options: {
        title: {
            display: true,
            text: 'Budget by sub-category [in PLN]'
        },
        legend: {
            labels: {
            /* here one can adjust the legend's labels, if required */
            // generateLabels: function(chart) {}
            }
        },
        responsive: false,
        onClick: (e, item) => {
          $.ajax({
            url: "/sub_category_data_table",
            type: "POST",
            data:  {category: activeCategory, sub_category: sub_cat_chart.data.labels[item[0]._index]},
            success: function(data) {
              var HTML = "<table class='table'> <thead><tr><th class='uuid_column'>input_uuid</th><th>name</th><th>value [PLN]</th><th>category</th><th>sub-category</th><th>type</th><th>date</th><th></th></tr></thead><tbody>";
                $.each(data, function(key, value) {
                    HTML += "<tr>"
                      $.each(value, function(i, inner_value) {
                        if (i == 0) {
                          HTML += "<td class='uuid_column'>" + inner_value + "</td>"
                        } else {
                        HTML += "<td>" + inner_value + "</td>"
                        }
                      });  
                    HTML += "</tr>"                      
            })
            document.getElementById('myTable').innerHTML = HTML
            uuid_columns = document.getElementsByClassName('uuid_column')
            for (var i = 0; i < uuid_columns.length; i++) {
              uuid_columns[i].style.display = "none";
              }
              document.getElementById('myInput').style.display="";
          }
        })
        }
    }})

    
    // main chart by category
    var labels = {{labels|safe}};
    var values = {{values|safe}};
    var colors = {{colors|safe}};

    var chart = new Chart(document.getElementById("chart"), {
    type: 'pie',
    data: {
      labels: labels,
      datasets: [{
        label: "Series 01",
        backgroundColor: colors,
        data: values
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Budget by category [in PLN]'
      },
      legend: {
        labels: {
          /* here one can adjust the legend's labels, if required */
          // generateLabels: function(chart) {}
        }
      },
      responsive: false,
      onClick: (e, item) => {
        $.ajax({
                url:"/sub_category_chart",
                type:"POST",
                data: labels[item[0]._index],
                success: function(data) {
                    canvas = document.getElementById("sub_cat_chart");
                    canvas.removeAttribute("hidden");
                    var sub_cat_labels = [];
                    var sub_cat_colors = [];
                    var sub_cat_values = [];

                    var dict_length = Object.keys(data).length
                    for (var i = 0; i < dict_length; i++) {
                      sub_cat_colors.push('#' + Math.floor(Math.random()*16777215).toString(16));
                    } 
                    
                    $.each(data, function(key, value) {
                      sub_cat_labels.push(key);
                      sub_cat_values.push(value);
                    });

                    sub_cat_chart.data.datasets[0].data = sub_cat_values;
                    sub_cat_chart.data.labels = sub_cat_labels;
                    sub_cat_chart.data.datasets[0].backgroundColor = sub_cat_colors;
                    sub_cat_chart.options.title.text = 'Budget by sub-category: ' + labels[item[0]._index] + ' [in PLN]';

                    sub_cat_chart.update();

                    activeCategory = labels[item[0]._index]

            }}
            );
        }
    }
});

</script>

<input class="form-control" id="myInput" style="display: none" type="text" placeholder="Search..">
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script> 
<div id="myTable"></div>


<div style='float: right;'>
    <form method="POST">
      <button class="btn btn-secondary" name="btn"
      value="return_to_budget" id="return_to_budget_btn">Return to budget</button>
      </form>
    </div>


  {% endblock %}