.nav-link.active {
    background-color: #6c757d !important;
    color: #fff !important
}

.nav-link {
    color: #000000 !important
}

body {
    margin-left:50px !important;
    margin-right:50px !important
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: white;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.active > .page-link {
    background: #6c757d !important;
}

#charts_btn, #return_to_budget_btn, #applied_filters_btn, #clear_filters_btn {
    background-color: #85919b !important;
}
/* .sub_cat_chart {
    position: absolute;
    top:155px;
    right: 700px;
} */