<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_styles.css') }}" />

    <meta charset="UTF-8">
    <title>BudgetApp</title>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
</head>
<body>
   <h1>Budget Status</h1>
	{{table}}

    <br>
    <form method="POST">

        <button name="btn"
        value="return_to_input">Return to input form</button>

    </form>
        
</body>
</html>
