{% extends "base.html" %}

{% block head %}
    {{ super() }}

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}

    <hr class="text-danger border-2 opacity-50">

   <table class="table">

    <thead>
    <tr>
        <th>name</th>
        <th>value [PLN]</th>
        <th>category</th>
        <th>sub-category</th>
        <th>date</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        
        {% for row in table.items %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.value}}</td>
            <td>{{row.category}}</td>
            <td>{{row.sub_category}}</td>
            <td>{{row.date}}</td>
            <td>
                <form method="POST">
                <button class="btn btn-light" name="delete_record" 
                value={{row.name}}>Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
       
        <tr>
            <td>SUM:</td>
            <td>{{value_sum}}</td>
            <td></td>
        </tr>

    </tbody>

    </table>
        
{% endblock %}

