{% extends "base.html" %}

{% block head %}
    {{ super() }}

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}

<hr>

<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="collapseExample">
  Show/Hide Filters
</button>

<div id="filters" class="collapse">
<br />

<form method="POST" autocomplete="off">

    <label for="formGroupExampleInput" class="form-label">Date from:</label>
     <div class="form-group">
       <input class="form-control" id="date_from" name="date_from" placeholder="YYYY-MM-DD" value = {{date_from}} type="text" required/>
     </div>

        <label for="formGroupExampleInput" class="form-label">Date to:</label>
         <div class="form-group">
           <input class="form-control" id="date_to" name="date_to" placeholder="YYYY-MM-DD" value = {{date_to}} type="text" required/>
         </div>

<script>
    $(document).ready(function(){
      var date_from=$('input[name="date_from"]');
      var date_to=$('input[name="date_to"]');
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_from.datepicker(options);
      date_to.datepicker(options);
    })
</script>

    <br />
      <button class="btn btn-secondary" name="apply_date_filters"
      value="my_apply_date_filters">Apply filters</button>

      <button class="btn btn-secondary" name="clear_date_filters"
      value="my_clear_date_filters" style="float: right;" >Clear filters</button>
    </form>

</div>

    <hr class="text-danger border-2 opacity-50">

    <input class="form-control" id="myInput" type="text" placeholder="Search on current table page..">
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script> 


   <table class="table">

    <thead>
    <tr>
        <td style="display:none;">input_uuid</td>
        <th>name</th>
        <th>value [PLN]</th>
        <th>category</th>
        <th>sub-category</th>
        <th>type</th>
        <th>date</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody id="myTable">
        
        {% for row in table.items %}
        <tr>
            <td style="display:none;">{{row.input_uuid}}</td>
            <td>{{row.name}}</td>
            <td>{{row.value}}</td>
            <td>{{row.category}}</td>
            <td>{{row.sub_category}}</td>
            <td>{{row.expense_type}}</td>
            <td>{{row.date}}</td>
            <td>
                <form method="POST">
                <button class="btn btn-light" name="delete_record" 
                value={{row.input_uuid}}>Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
       
        <tr>
            <td>SUM:</td>
            <td>{{value_sum}}</td>
            <td></td>
        </tr>

    </tbody>

    </table>
    {{ pagination.info }}
    {{ pagination.links }}

    <div style='float: right;'>
        <form method="POST">
          <button class="btn btn-secondary" name="btn"
          value="charts">Go to charts</button>
          </form>
        </div>

{% endblock %}

