{% extends "base.html" %}

{% block head %}
    {{ super() }}

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}

<h1>Categories Configuration</h1>
    <hr class="text-danger border-2 opacity-50">

   <table class="table">

    <thead>
    <tr>
        <th>category</th>
        <th>button</th>
    </tr>
    </thead>
    
    <tbody>
        
        {% for row in table.items %}
        <tr>
            <td>{{row.name}}</td>
            <td>
                <form method="GET">
                <button class="btn btn-light" name="show_subcategories" 
                value={{row.name}}>Show sub-categories</button>
                </form>
            </td>
            <td>
                <form method="POST">
                <button class="btn btn-light" name="delete_category_record" 
                value={{row.name}}>Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>

    </table>

    
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add category</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" autocomplete="off">
            <div class="modal-body">
                <div class="mb-3">
                  <label for="category_name" class="col-form-label">Category name:</label>
                  <input type="text" class="form-control" name="category_name" required>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" name="add_category" value="my_category">Submit</button>
            </div>
            </form>
          </div>
        </div>
      </div>

{% endblock %}

