{% extends "base.html" %}

{% block head %}
    {{ super() }}

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
{% endblock %}


{% block content %}

   <hr class="text-danger border-2 opacity-50">

    <form method="POST" autocomplete="off">

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Input your expense name:</label>
            </div>
            <div class="mb-3">
                <input type="text" class="{{validity_class_name}}" name="expense_name" placeholder="Expense Name" required>
                <div class="invalid-feedback">{{invalid_feedback_name}}</div>
            </div>

                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Input your expense value:</label>
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">PLN</span>
                <input type="text" class="{{validity_class_value}}" name="expense_value" placeholder="Expense Value" required>
                <div class="invalid-feedback">{{invalid_feedback_value}}</div>
            </div>

            <button class="btn btn-secondary" name="btn"
            value="submit_form">Submit</button>

    </form>

{% endblock %}
