{% extends "base.html" %}

{% block head %}
    {{ super() }}

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
{% endblock %}


{% block content %}
        
   <hr class="text-danger border-2 opacity-50">

    <form method="POST" autocomplete="off">



            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Insert your input name:</label>
            </div>
            <div class="mb-3">
                <input type="text" class="{{validity_class_name}}" name="expense_name" placeholder="Expense Name" required>
                <div class="invalid-feedback">{{invalid_feedback_name}}</div>
            </div>




            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Insert your input value:</label>
            </div>
            <div class="input-group mb-3">
                <select class="input-group-text" name="expense_value_type" id="expense_value_type">
                    <option>+</option>
                     <option>-</option>
                </select>
                <input type="text" class="{{validity_class_value}}" name="expense_value" placeholder="Expense Value (in PLN)" required>
                <div class="invalid-feedback">{{invalid_feedback_value}}</div>
            </div>


            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Insert your input type:</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Type</label>
                <select class="form-select" id='expense_type' name="expense_type" value="my_type" required>
                    {% for type in types.items %}
                  <option>{{type.name}}</option>
                  {% endfor %}
                </select>
              </div>

              <script>
                const selectTypeElement = document.getElementById('expense_type');
                $.ajax({
                    url:"/input_category",
                    type:"POST",
                    data: selectTypeElement.value,
                    success: function(data) {
                    var name, select, option;
                    
                    selectCategory = document.getElementById('expense_category');
                    
                    // Clear the old options
                    selectCategory.options.length = 0;

                    // Load the new options
                    $.each(data, function(key, value) {
                        selectCategory.options.add(new Option(key, key));
                    });
                }}
                );

                selectTypeElement.addEventListener('change', (event) => {
                    $.ajax({
                    url:"/input_category",
                    type:"POST",
                    data: selectTypeElement.value,
                    success: function(data) {
                    var name, select, option;
                    
                    selectCategory = document.getElementById('expense_category');
                    
                    // Clear the old options
                    selectCategory.options.length = 0;
                    // Load the new options
                    $.each(data, function(key, value) {
                        selectCategory.options.add(new Option(key, key));
                    });
            }}
            );
            setTimeout(() => { 
                $.ajax({
                    url:"/input_sub_category",
                    type:"POST",
                    data: {category : selectCategory.value, type : selectTypeElement.value},
                    success: function(data) {
                    var name, select, option;
                    
                    selectSubCategory = document.getElementById('expense_sub_category');
                    
                    // Clear the old options
                    selectSubCategory.options.length = 0;
                    // Load the new options
                    $.each(data, function(key, value) {
                        selectSubCategory.options.add(new Option(key, key));
                    });
            }});

            }, "100")
        })

            </script>







            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Insert your input category:</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
                <select class="form-select" id='expense_category' name="expense_category" value="my_category" required>
                </select>
              </div>

            <script>
                var selectCategoryElement = document.getElementById('expense_category');
                setTimeout(() => {

                $.ajax({
                    url:"/input_sub_category",
                    type:"POST",
                    data: {category : selectCategoryElement.value, type : selectTypeElement.value},
                    success: function(data) {
                    var name, select, option;
                    
                    selectSubCategory = document.getElementById('expense_sub_category');
                    
                    // Clear the old options
                    selectSubCategory.options.length = 0;

                    // Load the new options
                    $.each(data, function(key, value) {
                        selectSubCategory.options.add(new Option(key, key));
                    });
                }}
                )}, "100")

                selectCategoryElement.addEventListener('change', (event) => {
                    $.ajax({
                    url:"/input_sub_category",
                    type:"POST",
                    data: {category : selectCategoryElement.value, type : selectTypeElement.value},
                    success: function(data) {
                    var name, select, option;
                    
                    selectSubCategory = document.getElementById('expense_sub_category');
                    
                    // Clear the old options
                    selectSubCategory.options.length = 0;
                    // Load the new options
                    $.each(data, function(key, value) {
                        selectSubCategory.options.add(new Option(key, key));
                    });
            }}
            );
            })
            </script>









            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Insert your input sub-category:</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Sub-category</label>
                <select class="form-select" id='expense_sub_category' name="expense_sub_category" value="my_sub_category">
                </select>
            </div>

    
            
                   <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Insert your expense date:</label>
                    </div>
                     <div class="form-group">
                       <input class="form-control" id="expense_date" name="expense_date" placeholder="YYYY-MM-DD" type="text" required/>
                     </div>            


                <script>
                    $(document).ready(function(){
                      var date_input=$('input[name="expense_date"]');
                      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                      var options={
                        format: 'yyyy-mm-dd',
                        container: container,
                        todayHighlight: true,
                        autoclose: true,
                      };
                      date_input.datepicker(options);
                    })
                </script>

            <hr>

            <button class="btn btn-secondary" name="btn"
            value="submit_form">Submit</button>


    </form>

{% endblock %}
